{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron" style="background: url('{{ asset("/bundles/framework/images/scure.png") }}') no-repeat center center;">
        <div class="container">

            <h1>Security</h1>
            <p>Is done by Eleonora (IS-32)</p>
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
